*.dylib
*.o
*.so
*.os
*.pyc
pytest_session.txt
.cache
.pytest_cache
.coverage
/*.fits
*_wrap.cc
*Lib.py
.sconf_temp
.sconsign.dblite
config.log
doc/*.tag
doc/html
doc/doxygen.conf
doc/xml
python/lsst/pipe/tasks/version.py
tests/.tests
tests/.cache
ups/*.cfgc
testCoaddInputs-data
_build.*
bin
.vscode/
python/*.dist-info/
.coverage*
