*.dylib
*.o
*.so
*.os
*.pyc
/*.fits
*_wrap.cc
*Lib.py
.sconf_temp
.sconsign.dblite
config.log
doc/*.tag
doc/html
doc/doxygen.conf
doc/xml
python/lsst/pipe/tasks/version.py
tests/.tests
tests/.cache
ups/*.cfgc
testCoaddInputs-data
_build.*
bin/assembleCoadd.py
bin/calibrate.py
bin/characterizeImage.py
bin/detectCoaddSources.py
bin/dumpTaskMetadata.py
bin/imageDifference.py
bin/imageDifferenceWinter2013.py
bin/ingestCalibs.py
bin/ingestImages.py
bin/ingestReferenceCatalog.py
bin/makeCoaddTempExp.py
bin/makeDiscreteSkyMap.py
bin/makeSkyMap.py
bin/matchBackgrounds.py
bin/measureCoaddSources.py
bin/mergeCoaddDetections.py
bin/mergeCoaddMeasurements.py
bin/processCcd.py
bin/processDonut.py
bin/processCoadd.py
bin/reportImagesInPatch.py
bin/reportImagesToCoadd.py
bin/reportPatches.py
bin/reportTaskTiming.py
bin/transformCoaddMeasurement.py
bin/transformForcedSrcMeasurement.py
bin/transformSrcMeasurement.py
