*.dylib
*.o
*.so
*.os
*.pyc
/*.fits
*_wrap.cc
*Lib.py
.sconf_temp
.sconsign.dblite
config.log
doc/*.tag
doc/html
doc/doxygen.conf
python/lsst/pipe/tasks/version.py
tests/.tests
ups/*.cfgc
testCoaddInputs-data
